$palette: (
    50: #fdfbfb,
    100: #f8f6f6,
    200: #f4f1f1,
    300: #eae7e7,
    400: #c7c5c5,
    500: #a9a7a7,
    600: #7f7d7d,
    700: #6b6969,
    800: #4b4949,
    900: #292828,
    A50: #eeeeef,
    A100: #d1d6da,
    A200: #b2bbc3,
    A300: #93a0ac,
    A400: #7c8c9a,
    A500: #647989,
    A600: #586a78,
    A700: #485662,
    A800: #39444c,
    A900: #282f35,
    contrast: (
        50: rgba(black, 0.54),
        100: rgba(black, 0.55),
        200: rgba(black, 0.55),
        300: rgba(black, 0.55),
        400: rgba(black, 0.59),
        500: rgba(black, 0.63),
        600: rgba(black, 0.84),
        700: rgba(white, 0.86),
        800: rgba(white, 0.61),
        900: rgba(white, 0.48),
        A50: rgba(black, 0.55),
        A100: rgba(black, 0.57),
        A200: rgba(black, 0.60),
        A300: rgba(black, 0.66),
        A400: rgba(black, 0.74),
        A500: rgba(black, 0.96),
        A600: rgba(white, 0.84),
        A700: rgba(white, 0.68),
        A800: rgba(white, 0.58),
        A900: rgba(white, 0.49),
    ),
);
