$palette: (
    50: #dff6f7,
    100: #b0e8eb,
    200: #7dd8df,
    300: #4ac8d3,
    400: #25bdcb,
    500: #00b2c3,
    600: #00a2b1,
    700: #048e98,
    800: #067a81,
    900: #085758,
    A50: #fff3e0,
    A100: #ffdfb2,
    A200: #ffcb80,
    A300: #ffb64c,
    A400: #ffa625,
    A500: #ff9600,
    A600: #fb8a00,
    A700: #f57a01,
    A800: #ef6a01,
    A900: #e64f01,
    contrast: (
        50: rgba(black, 0.55),
        100: rgba(black, 0.56),
        200: rgba(black, 0.58),
        300: rgba(black, 0.60),
        400: rgba(black, 0.63),
        500: rgba(black, 0.65),
        600: rgba(black, 0.70),
        700: rgba(black, 0.80),
        800: rgba(white, 0.91),
        900: rgba(white, 0.65),
        A50: rgba(black, 0.55),
        A100: rgba(black, 0.55),
        A200: rgba(black, 0.57),
        A300: rgba(black, 0.59),
        A400: rgba(black, 0.60),
        A500: rgba(black, 0.62),
        A600: rgba(black, 0.63),
        A700: rgba(black, 0.66),
        A800: rgba(black, 0.70),
        A900: rgba(black, 0.79),
    ),
);
