@use '@angular/material' as mat;
@mixin header-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .header {
        width: 100vw;
        background-color: mat.get-color-from-palette($primary);
        background-image: linear-gradient(to bottom right, mat.get-color-from-palette($primary, 800), mat.get-color-from-palette($primary, 600));
        border-bottom: 0.5rem solid mat.get-color-from-palette($primary, 800);
        display: flex;
        padding: 1rem;

        h1 {
            color: mat.get-contrast-color-from-palette($primary, 800);
        }
    }
}
