$ironman-palette: (
    50: #ffe9eb,
    100: #fec9cb,
    200: #ec938e,
    300: #df6a63,
    400: #e6483b,
    500: #e8361b,
    600: #da2a1c,
    700: #c91f17,
    800: #bc160f,
    900: #ad0000,
    A50: #fffde7,
    A100: #fff9c4,
    A200: #fef59d,
    A300: #fef075,
    A400: #fceb55,
    A500: #f9e635,
    A600: #fcd734,
    A700: #fabf2c,
    A800: #f8a724,
    A900: #f47e16,
    contrast: (
        50: rgba(black, 0.55),
        100: rgba(black, 0.57),
        200: rgba(black, 0.63),
        300: rgba(black, 0.72),
        400: rgba(black, 0.8),
        500: rgba(black, 0.86),
        600: rgba(white, 0.95),
        700: rgba(white, 0.86),
        800: rgba(white, 0.8),
        900: rgba(white, 0.74),
        A50: rgba(black, 0.545),
        A100: rgba(black, 0.54),
        A200: rgba(black, 0.55),
        A300: rgba(black, 0.55),
        A400: rgba(black, 0.55),
        A500: rgba(black, 0.55),
        A600: rgba(black, 0.56),
        A700: rgba(black, 0.58),
        A800: rgba(black, 0.6),
        A900: rgba(black, 0.66),
    ),
);
