/* Import Angular Material theming */
@use '@angular/material' as mat;

/* Insert path to your custom palette here */
@import "./palettes/greyscale-palette";

/* Insert paths to custom component stylesheets here */
@import "./../components/shared/header/header.component";
@import "./../components/shared/footer/footer.component";

/* Import Angular Material core styles */
@include mat.core();

/* Set primary, secondary and warning color palettes */
$color-primary: mat.define-palette($palette, 600, 300, 800);
$color-accent: mat.define-palette($palette, A600, A300, A800);
$color-warn: mat.define-palette(mat.$red-palette, A700);

/* Assign palettes to main theme variable */
$material-theme: mat.define-light-theme(
    (
        color: (
            primary: $color-primary,
            accent: $color-accent,
            warn: $color-warn,
        )
    )
);

/* Include custom component theme handlers from their stylesheets */
@include mat.all-component-themes($material-theme);
@include header-theme($material-theme);
@include footer-theme($material-theme);

/* Insert any global styles here */
html,
body {
    border: 0;
    width: 100vw;
    min-height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    overflow: auto;
    background-color: mat.get-color-from-palette($color-primary, 50);

    button {
        &:hover {
            cursor: pointer;
        }
        &[disabled] {
            cursor: not-allowed;
        }
    }

    .form {
        .form-control {
            display: inline-block;
            width: 100%;
            padding: 0.5rem 0;

            label {
                display: inline-block;
                width: 100%;
                font-size: 0.8rem;
                font-weight: 300;
            }

            input {
                box-sizing: border-box;

                &[type='text'] {
                    display: inline-block;
                    width: 100%;
                    padding: 0.5rem;
                    font-size: 1rem;
                    outline: none;

                    &:hover,
                    &:active,
                    &:focus {
                        outline: none;
                    }
                }
            }

            .form-error {
                display: inline-block;
                width: 100%;
                color: mat.get-color-from-palette($color-warn);
            }
        }

        .form-button {
            display: inline-block;
            width: 100%;
            padding: 0.5rem 0;
            text-align: right;

            button {
                min-width: 96px;
                padding: 0.5rem 0.75rem;
            }
        }
    }
}
