@use '~@angular/material' as mat;
@mixin footer-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .footer {
        width: 100vw;
        background-color: mat.get-color-from-palette($accent);
        background-image: linear-gradient(to bottom right, mat.get-color-from-palette($accent, A600), mat.get-color-from-palette($accent, A400));
        border-top: 0.5rem solid mat.get-color-from-palette($accent, A800);
        display: flex;
        padding: 1rem;
        position: fixed;
        bottom: 0;

        p {
            margin: 0;
            padding: 0;
            color: mat.get-contrast-color-from-palette($accent, A800);
        }
    }
}
